.course {
    z-index: 12;
    position: relative;
    height: 50px;
    width: 150px;
    background-color: #ABC4AB    ;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    
    text-align: center;
}

.popCourse {
    z-index: -2;
    position: relative;
    height: 50px;
    width: 150px;
    background-color: #ABC4AB;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    
    text-align: center;
}