h1 {
    font-family: Helvetica, Arial, sans-serif;
    
}


.container{
    position: sticky;
    min-width: 150px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 8;
}

.popContainer{
    
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: -3;
}

.button {
    z-index: 8;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    color: #247BA0;

    padding: 5px;
    margin: 5px;

    min-width: 150px;
    min-height: 33px;

    border-radius: 5px;
    border: solid;
    border-width: 2px;
    cursor: pointer;
    /* box-shadow: 0 3px 5px #12242B; */
    font-size: 20px;
    
}
.popButton {
    z-index: -4;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    color: #28464B;

    padding-left: auto;
    padding-right: auto;    
    
    min-width: 160px;
    min-height: 33px;

    border-radius: 8px;
    border: solid;
    border-width: 2px;
    cursor: pointer;
    /* box-shadow: 0 3px 5px #12242B; */
    font-size: 20px;
    
}

.courseList {
    background: #FFE066;
    min-width: 160px;
    border-radius: 5px;
    border-width: 1px;
    z-index: 12;
}

.popCourseList {
    z-index: -3;
    background: #FFE066;
    min-width: 160px;
    border-radius: 5px;
    border-width: 1px;
}

.courseListTitle {
    z-index: -3;

    border: none;
    color: #F25F5C;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}