.csContainer {
    width: 100vw;
    /* border: 2px solid #FFE066; */
        transform: translateX(-8px);

    /* float: left; */
}
/* wraps the logo and h1 */
header { 
    position: sticky;
    background-color: #50514F;
    /* border: double 5px #FFE066; */
    border-top: 5px double #FFE066;
    border-bottom: 5px double #FFE066;    /* border-top: 5px double #FFE066; */

    margin-left: auto;
    margin-right: auto;   
    width: 300%;
    z-index: 20;
    transform: translateY(-8px);


}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50514F;
    color: white;
    text-align: center;
    border-top: 5px solid #FFE066;
    border-bottom: 5px solid #FFE066;
    transform: translateY(8px);
    /* margin-top:100vh; */
    margin-bottom: 0vh;



}


input {
    outline: none;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;

    padding-left: 1vw;
    color: #ffffff;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;

}


/* the "Loading..." */
.loadContainer { 
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: center;
    z-index: 7;
    font-family: Helvetica, Arial, sans-serif;
    color: #12242B;
    margin-top: auto;
    margin-bottom: auto;


}


/* left col contains course list and (user input + calendar) */
.columnContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    min-width: 160px;

}

/* right col contains user input + calendar  */
.verticalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink:1;
    overflow: scroll;
    align-items: center;
    margin-bottom: 600px;


}
.verticalContainerEmpty {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink:1;
    overflow: scroll;
    align-items: center;

    padding-top: 35vh;
    transform: translateX(-8vw);


}

/* the user inputs */
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    align-content: flex-start;
    text-align: left;
    justify-content: flex-start;
    margin-left: 1vw;
    max-width: 15vw;
    padding-bottom: 5vh;
}

/* form that contains the courseinput and add button */
form {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;
}

/* user input to search courses */
.courseInput {
   
    border-radius: 100px;
    padding-left: 1vw;

    margin-top: 1vh;
    font-family: Helvetica, Arial, sans-serif;

    background: #ffffff;
    margin-left: auto;
    margin-right: auto;


    min-width: 15vw;
    min-height: 33px;    
    font-size: 20px;
    border-width: 2px;
}

/* add button for course*/
.courseSubmit {
    position: relative;

    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: #247BA0;
    border: solid;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;


    min-width: 15vw;
    min-height: 33px;    
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;

}

.courseAdd {
    position: relative;

    margin-top: 1vh;
    font-family: Helvetica, Arial, sans-serif;
    color: #247BA0;
    border: solid;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;


    min-width: 5vw;
    min-height: 33px;    
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;

}


/* when there's alert message */
.alert {
    color: #9A322B;
    font-family: Helvetica, Arial, sans-serif;
    

}
/* when there's NO alert message */
.notAlert {
    color: #12242B;
    font-family: Helvetica, Arial, sans-serif;
    /* margin-top: 1vh;
    font-family: Helvetica, Arial, sans-serif;
    color: #247BA0;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px; */
 
}

.timePref {
    margin-top: 10px;
    position: relative;

    font-family: Helvetica, Arial, sans-serif;
    color: #247BA0;
    border: solid;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;


    min-width: 15vw;
    min-height: 33px;    
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
}

.unscheduled {
    font-family: Helvetica, Arial, sans-serif;
    color: #247BA0;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border:#FFE066;
    background-color: #FFE066;
    border-radius: 5px;

}

.unscheduledBox {
    color: #247BA0;
    background: #FFE066;
    position: relative;
    margin-top: 1vh;

    min-width: 150px;
    min-height: 33px;    
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    /* border: solid #247BA0; */
}

.unscheduledBoxTitle {
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #247BA0;
    border-radius: 5px;


}



@media screen and (max-width: 600px) {
    .csContainer {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        /* min-width: 160px; */
    
    }
    /* form that contains the courseinput and add button */
    form {
        display: flex;
        flex-direction: column;
        /* margin-top: 1vh; */
        align-items: center;
    }

    .verticalContainerEmpty {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        flex-shrink:1;
        overflow: scroll;
        align-items: center;

        width: 100vw;
        padding-top: 5vh;
        transform: translateX(0vw);
    
    }
    .unscheduledBox {
        color: #247BA0;
        background: #FFE066;
        position: relative;
        margin-top: 1vh;
    
        width: 90vw;
        min-height: 33px;    
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        border-width: 1px;
        /* border: solid #247BA0; */
    }
  }