
header { 
    display: flex;
    max-width: 100vw;
    position: relative;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    color: #E2E6EC;
    border:none; 
    /* border-bottom: 2px double #3E8EDE; */

}

h1 {
    color: #3E8EDE;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
}



.container{
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: center;
    z-index: 7;
}

.loadContainer { 
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;*/
    justify-content: center;
    z-index: 7;
    font-family: Helvetica, Arial, sans-serif;
    color: #12242B;
    margin-top: auto;
    margin-bottom: auto;


}


.containerInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    flex-grow: 7;
    height: 80vh;
    
    /* 
    for page centering CourseNameInput 
    (will go off "center" with more columns or vertical wrapping due to smaller screen size)
    */
    left: -10vw; 
}

.courseInput {
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.courseSubmit {
    font-family: Helvetica, Arial, sans-serif;
    color: #12242B;
    background: #ffffff;
    position: relative;
    margin-top: 1vh;
    height: 5vh;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border-width: 2px;

}

.alert {
    color: #9A322B;
    font-family: Helvetica, Arial, sans-serif;

}

.notAlert {
    color: #12242B;
    font-family: Helvetica, Arial, sans-serif;

}