.overlay {
    display: block;
    position: fixed;
    width: 300vw;
    height: 300vh;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000071;
    z-index: -1;

}


.popupContainer{

    position: relative;
    transform: translateX(-12.8vw);

    justify-content: center;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    border-radius: 8px;
    border-width: 2px;
    border: solid;
    border-color:#3E8EDE;
    box-shadow: #ffffff;
    background-color:#ffffff;
}
.popOptions{
    z-index:10;
    font-family: Helvetica, Arial, sans-serif;
    max-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #3E8EDE;
    color: #ffffff;
    flex-direction: column;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid;
    border-color: #ffffff;
    align-items: stretch;
}


.tit {
    z-index:10;
    color: #28464B;
    font-size: 20px;
}

.closeContainer {
    z-index:10;
    float:right;
    
}
.close {
    z-index:10;
    border-radius: 8px;
    border-width: 2px;

    border: solid;
    border-color: #9A322B;
    display: inline-flex;
    color: #9A322B;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    
}




.couresPopContainer{

    position: relative;
    z-index: 13;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid 2px;
    border-color:#28464B;
    border-width: 2px;

    box-shadow: #ffffff00;
    background-color:#ffffff;
    align-items: stretch;
}

.courseInfo {
    flex-basis: auto;
    padding: 1vw;
}

.removeCourse {
    text-decoration: none;
    color: #9A322B;
    border-radius: 8px;
    border: none;
    background-color: #F0F7EE;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;


}